body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    transition: width 0.3s;
}

.sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

/* Content styles */
.content {
    margin-left: 260px;
    padding: 20px;
}

.date {
    display: flex;
    gap: 15px;
}

.server-date-container {
    margin-top: auto;
}

.status-container {
    margin-top: auto;
    padding-bottom: 0.65rem;
}

h1 {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 1em;
    color: #666;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    max-width: 300px;
}

p {
    color: #555;
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
    margin-top: 20px;
    line-height: 1.6;
}

/* Additional styling for fetched date display */
#fetched-date {
    margin-top: 20px;
    font-size: 1.2em;
    color: #007BFF;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar ul li {
        text-align: left;
    }
    .content {
        margin-left: 0;
    }
}

/* Upload File */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.file-upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload-input {
    display: none;
}

.upload-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.upload-button:hover {
    background-color: #218838;
}

.check-app {
    margin-top: 3rem;
}

/* Button */
.button-container {
    margin-top: auto;
}

.custom-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button-open {
    padding: 10px 20px;
    background-color: #2AAA8A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #0056b3;
}

.custom-button:active {
    background-color: #004085;
}

.custom-button-open:hover {
    background-color: #478778;
}

.custom-button-open:active {
    background-color: #478778;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

table th, table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.query-action-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Button styling */
#modalActionBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#modalActionBtn:hover {
    background-color: #45a049;
}

/* Loading Spinner Styles */
.loading {
    display: flex;
    justify-content: center;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

/* Animation for spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}